@font-face { 
	font-family: "OpenSans-Bold";
	src: url("~Fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face { 
	font-family: "Roboto-Regular";
	src: url("~Fonts/Roboto-Regular.ttf") format('truetype');
}
